<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".MyApplication.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TableMath">
        <activity
            android:name=".ui.screens.exercises.Arabe"
            android:exported="false"
            android:label="@string/title_activity_arabe"
            android:theme="@style/Theme.TableMath" />
        <activity
            android:name=".ui.screens.exercises.Japones"
            android:exported="false"
            android:label="@string/title_activity_japones"
            android:theme="@style/Theme.TableMath" />
        <activity
            android:name=".ui.screens.exercises.Ruso"
            android:exported="false"
            android:label="@string/title_activity_ruso"
            android:theme="@style/Theme.TableMath" />
        <activity
            android:name=".ui.screens.exercises.Clasico"
            android:exported="false"
            android:label="@string/title_activity_tradicional"
            android:theme="@style/Theme.TableMath" />
        <activity
            android:name=".ui.screens.Login"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.TableMath" />
        <activity
            android:name=".ui.screens.Bienvenida"
            android:exported="false"
            android:label="@string/title_activity_bienvenida"
            android:theme="@style/Theme.TableMath" />
        <activity
            android:name=".ui.screens.RegistroUsuario"
            android:exported="false"
            android:label="@string/title_activity_registro_usuario"
            android:theme="@style/Theme.TableMath" />
        <activity
            android:name=".ui.screens.Menu"
            android:exported="false"
            android:label="@string/title_activity_menu"
            android:theme="@style/Theme.TableMath"
            tools:ignore="MissingClass" />
        <activity
            android:name=".ui.screens.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.TableMath">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>